/* .logo {
    text-decoration: none;
    font-size: 120%;
    text-transform: capitalize;
}
.logo:hover {
    color: #ffce00;
    transition: 0.7s;
}

nav ul { display: flex; }
nav ul li { list-style: none; }
nav ul li a {
    display: block;
    cursor: pointer;
    margin: 10px 0;
    padding: 9px 16px;
    text-decoration: none;
    color: #fff;
    font-size: 90%;
}
nav ul li a:hover {
    transition: 0.5s;
    /*border-bottom: 1px solid #fff;*/
    /* text-decoration: underline;
}
nav ul li a.active {
    color: #ffce00;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a.active:hover {
    transition: 0.8s;
} */